<div class="container mt-5">
    <h2 class="text-center mb-3 text-light">Subscribe to Newsletter</h2>
    <div class="row d-flex justify-content-center align-items-center rows">
      <div class="col-md-6">
        <div data-aos="flip-up" class="card card1">
          <div class="text-center">\
            <img src="https://i.imgur.com/Dh7U4bp.png" width="200">
            <span class="d-block mt-3">Subscribe to our newsletter in order not to miss new movie arrivals</span>
            <div class="mx-5">
              <div class="input-group mb-3 mt-4">
                <input type="text" class="form-control form-control1" placeholder="Enter email"
                  aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-success border-rad" type="button" id="button-addon2">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="footer">
    <div class="container-fluid bg-dark text-light mt-3 p-2">
      <p class="text-center mb-0 py-3">&copy; MSP - 2023 | All rights reserved</p>
      <p class="text-center mb-4">Website Designed & Developed by MSP Team</p>
    </div>
  </div>