<div class="container mt-4">
                
    <div class="row">
            <div class="col-md-6">
                    <figure class="movie-poster"><img src="../../assets/images/uncharted1.jpg" width="100%" alt="#"></figure>
            </div>
            <div class="col-md-6 text-light">
                    <h2 class="movie-title">The Croods</h2>
                    <div class="movie-summary">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    </div>
                    <ul class="movie-meta">
                            <li><strong>Rating:</strong> 
                                    <div class=" fa-solid fa-star " style="color: #F2921D;" ></div>
                                    <div class=" fa-solid fa-star " style="color: #F2921D;" ></div>
                                    <div class=" fa-solid fa-star " style="color: #F2921D;" ></div>
                                    <div class=" fa-solid fa-star " style="color: #F2921D;" ></div>
                            </li>
                            <li><strong>Length:</strong> 98 min</li>
                            <li><strong>Premiere:</strong> 22 March 2013 (USA)</li>
                            <li><strong>Category:</strong> Animation/Adventure/Comedy</li>
                    </ul>

                    <ul class="starring">
                            <li><strong>Directors:</strong> Kirk de Mico (as Kirk DeMico). Chris Sanders</li>
                            <li><strong>Writers:</strong> Chris Sanders (screenplay), Kirk De Micco (screenplay)</li>
                            <li><strong>Stars:</strong> Nicolas Cage, Ryan Reynolds, Emma Stone</li>
                    </ul>
    </div>

    <div class ="row container-fluid">
            <div class="comments-app">
                    <h1 class="text-light">Comment Section</h1>
                    
                    <!-- From -->
                    <div class="comment-form">
                      <!-- Comment Avatar -->
                      <div class="comment-avatar">
                        <img src="https://picsum.photos/200/300">
                      </div>
                  
                      <form class="form" name="form">
                        <div class="form-row">
                          <textarea
                                    class="input"
                                   
                                    placeholder="Add comment..."
                                    required></textarea>
                        </div>
                  
                        <div class="form-row">
                          <input
                                 class="input"
                                
                                
                                 placeholder="Email"
                                 type="email">
                        </div>
                  
                       
                  
                        <div class="form-row">
                          <input type="submit" value="Add Comment">
                        </div>
                      </form>
                    </div>
                  
                    
                    
                  
                        <!-- Comment Box -->
                        
                  
                      <!-- Comment - Dummy -->
                      <div class="comment">
                        <!-- Comment Avatar -->
                        <div class="comment-avatar">
                          <img src="http://gravatar.com/avatar/412c0b0ec99008245d902e6ed0b264ee?s=80">
                        </div>
                  
                        <!-- Comment Box -->
                        <div class="comment-box">
                          <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto temporibus iste nostrum dolorem natus recusandae incidunt voluptatum.</div>
                          <div class="comment-footer">
                            <div class="comment-info">
                              <span class="comment-author">
                                <a href="mailto:sexar@pagelab.io">Sexar</a>
                              </span>
                              <span class="comment-date">Feb 2, 2013 11:32:04 PM</span>
                            </div>
                  
                            
                          </div>
                        </div>
                      </div>
                  
                      <!-- Comment - Dummy -->
                      <div class="comment">
                        <!-- Comment Avatar -->
                        <div class="comment-avatar">
                          <img src="https://picsum.photos/200/304">
                        </div>
                  
                        <!-- Comment Box -->
                        <div class="comment-box">
                          <div class="comment-text">Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis totam reprehenderit quasi sapiente modi tempora at perspiciatis mollitia, dolores voluptate. Cumque, corrupti?</div>
                          <div class="comment-footer">
                            <div class="comment-info">
                              <span class="comment-author">
                                <a href="mailto:ximme13@somedomain.io">Ximme</a>
                              </span>
                              <span class="comment-date">Jan 31, 1986 11:32:04 PM</span>
                            </div>
                  
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  




    </div>
   

         

</div>