<div class="container mt-3">
    <h2 class="text-center my-3 text-light">All Movies</h2>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <div class="col">
        <div class="card" data-aos="fade-right">
          <img src="../assets/images/spiderman.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Lorem Ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus aut veritatis.
            </p>
            <a href="watch-now">
              <button class="btn btn-primary">Watch Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" data-aos="zoom-in">
          <img src="../assets/images/spiderman.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Lorem Ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus aut veritatis.
            </p>
            <a href="watch-now">
              <button class="btn btn-primary">Watch Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" data-aos="zoom-in">
          <img src="../assets/images/spiderman.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Lorem Ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus aut veritatis.
            </p>
            <a href="watch-now">
              <button class="btn btn-primary">Watch Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" data-aos="fade-left">
          <img src="../assets/images/spiderman.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Lorem Ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus aut veritatis.
            </p>
            <a href="watch-now">
              <button class="btn btn-primary">Watch Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" data-aos="fade-right">
          <img src="../assets/images/spiderman.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Lorem Ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus aut veritatis.
            </p>
            <a href="watch-now">
              <button class="btn btn-primary">Watch Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" data-aos="zoom-in">
          <img src="../assets/images/spiderman.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Lorem Ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus aut veritatis.
            </p>
            <a href="watch-now">
              <button class="btn btn-primary">Watch Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" data-aos="zoom-in">
          <img src="../assets/images/spiderman.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Lorem Ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus aut veritatis.
            </p>
            <a href="watch-now">
              <button class="btn btn-primary">Watch Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" data-aos="fade-left">
          <img src="../assets/images/spiderman.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Lorem Ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat possimus aut veritatis.
            </p>
            <a href="watch-now">
              <button class="btn btn-primary">Watch Now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>